.about-me {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

@media (max-width: 1000px) {
  .about-me {
    flex-direction: column;
    height: auto;
  }
}

.about-me-man {
  width: 50%;
  height: 50%;
}

@media (max-width: 1000px) {
  .about-me-man {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

.about-me-who-i-am-button {
  width: 148px;
  height: 42px;

  background-color: #292b2e;
  color: #ffb742;
}

.about-me-text {
  padding-top: 42px;
  padding-bottom: 20px;
}
