* {
  margin: 0;
}

body {
  color: white;
  background-color: #212529;
  display: flex;
  justify-content: center;
  
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  
}

p {
  font-family: Poppins;
}

.main-content {
  padding-top: 17px; 
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1335px;
  
}

.header-margins {
    margin-top: 42px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    * {
      text-align: center;
    }
}

.description-button {
  padding: 6px 25px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 14px;
}

.hire-me-button {
  width: 148px;
  height: 54px;

  background-color: #ffb742;
  color: #292b2e;
  font-family: Poppins;
  margin-top: 100px;
}

.kartik {
  color: orange;
}
