header {
  display: flex;
  align-items: center;
  gap: 5px;

  margin-bottom: 108px;
  
}

.header-logo {
  margin-right: -10px;
}

header {
  font-family: Poppins;
  font-weight: bold;
}

.header-buttons {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: start;
  font-size: 18px;
  column-gap: 25px;
}

.header-buttons > a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.header-buttons > a:hover {
  color: orange;
}

.header-hire-me-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-basis: 80px;
  flex-shrink: 0;
  flex-grow: 0;

  height: 54px;
  width: 121px;

  padding: 2px;

  outline: none;
  border: none;

  background-color: orange;
  color: black;
  border-radius: 50px;
  font-weight: bold;
}

