.last-block {
  background-color: #1c1c1c;

  display: flex;
  justify-content: space-between;

  padding-top: 148px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-family: Work Sans;
}

.last-block p {
  font-family: Work Sans;
}

.last-block * {
  text-align: left;
}

@media (max-width: 1000px) {
  .last-block {
    font-size: 16px;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .last-block {
    font-size: 12px;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .last-block {
    font-size: 9px;
    gap: 12px;
  }
}

@media (max-width: 410px) {
  .last-block {
    font-size: 8px;
    gap: 10px;
  }
}

.last-block > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.kartik-bansal-block {
  display: flex;
}

.last-block-header {
  margin-bottom: 15px;

  font-size: 1.25em;
  color: white;
  font-weight: bold;

  text-wrap: nowrap;
}

.last-block-header.kartik {
  font-size: 1.75em;
  color: orange;
  font-weight: bold;
}

.last-block-last-text {
  color: #7B7B7B;
}

.last-block-last-text:hover {
  color: orange;
}
