.text-my-works {
  padding-top: 42px;
  padding-bottom: 20px;
}

.my-works-button {
  padding: 6px, 25px, 6px, 25px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #292b2e;
  font-size: 14px;
  color: #ffb742;
  width: 148px;
  height: 42px;
  margin-top: 200px;
  font-family: Poppins;
  margin-bottom: 48px;
  
}

.my-works-images {
  margin-top: 48px;
}

.my-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-my-works {
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: Roboto;
}

.buttom-all {
  padding: 5px, 20px, 5px, 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #212529;
  width: 220px;
  height: 40px;
  margin-top: 30px;
  color: white;
  font-family: Poppins;
}

@media (max-width: 1000px) {
  .buttom-all {
    margin-top: 0;
  }
}

.buttom-all:hover {
  background: #ffb742;
  color: black;
}

.my-works-images {
  display: flex;
  margin-top: 50px;
  column-gap: 24px;
}

@media (max-width: 1000px) {
  .my-works-images {
    flex-direction: column;
  }
}

@media (max-width: 1250px){
  .my-works-images img {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .my-works-images {
    width: 300px;
  }
}

.my-works-block {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

@media (max-width: 1000px) {
  .my-works-block {
    margin-top: 24px;
  }
}
