* {
  margin: 0;
}

body {
  padding: 17px 50px;
  background-color: #212529;
}

body {
  color: white;
  font-size: 16px;
}

.header-margins {
    margin-top: 42px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    * {
      text-align: center;
    }
}

.description-button {
  padding: 6px 25px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 14px;
}

.hire-me-button {
  width: 148px;
  height: 54px;

  background-color: #ffb742;
  color: #292b2e;

  margin-top: 100px;
}
