* {
  margin: 0;
}

body {
  padding: 17px 50px;
  background-color: #212529;
}

body {
  color: white;
  font-size: 16px;
}

.header-margins {
    margin-top: 42px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    * {
      text-align: center;
    }
}
