.experience-block {
  padding-top: 30px;
}

.experience-block {
  display: flex;
  gap: 20px;

  height: 120px;
}

.experience-button {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #292b2e;

  min-height: 100px;
}

.experience-button:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}

.experience-icon {
  padding-left: 20px;
}

.experience-stats-block {
  display: flex;
  flex-direction: column;
}

.experience-right-arrow {
  padding-right: 20px;
}

.experience-text-orange {
  font-size: 26px;
  color: orange;
}

.experience-text-white {
  font-size: 16px;
  color: white;
}

.experience-button:hover .experience-text-orange,
.experience-button:hover .experience-text-white {
  color: black;
}

@media (max-width: 1000px) {
  .experience-block {
    flex-direction: column;
    height: auto;
  }

  .experience-icon {
    width: 48px;
    height: 48px;
  }
}
