.my-skills-block {
  padding-top: 30px;
  width: 100%;
}

.my-skills-block {
  display: flex;
  gap: 97px;
}

.my-skills-button {
  background-color: #292b2e;
  color: #ffb742;

  width: 148px;
  height: 42px;
}

.my-skills-icons {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.my-skills-icons-row {
  display: flex;
  column-gap: 6px;
}

.my-skills-icons-row > button {
  display: inline-flex;

  justify-content: center;
  align-items: center;

  padding: 16px;

  width: 80px;
  height: 80px;

  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #292b2e;
}

.my-skills-icons-row > button:hover {
  background-color: #ffb74280;
}

@media (max-width: 1000px) {
  .my-skills-block {
    flex-direction: column;
    gap: 30px;
  }
  
  .my-skills-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .my-skills-icons {
    align-items: center;
  }
}
